.main-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 450px;
  height: 360px;
  box-sizing: border-box;
}

.saturation {
  width: 400px;
  padding-bottom: 80%;
  position: relative;
  overflow: hidden;
  margin-right: 20px;
}

.pointer {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translate(-9px, -1px);
  /* transform: translate(7px, -20px); */
  background: none;
  border: 1px solid #f8f8f8;
}

.hue {
  min-height: 10;
  min-width: 30px;
  position: relative;
}

.hue-vertical {
  height: 360px !important;
}

.slider {
  margin-top: 1px;
  width: 4px;
  border-radius: 1px;
  height: 8px;
  box-shadow: 0 0 2px rgba(0, 0, 0, .6);
  background: #fff;
  transform: translateX(-2px);
}