.color-select {
  /* DEV */
  margin: 40px; 

  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background-color: #f2f2f2;
  min-width: 240px;
  min-height: max-content;
  border-radius: 60px;
  cursor: pointer;
  font-family: 'Arial', 'sans-serif';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}

.color-select__color-circle-container {
  display: flex;
  position: relative;
  width: 60px;
  height: 60px;
  overflow: hidden;
  box-sizing: border-box;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.color-select__color-circle {
  /* -webkit-appearance: none; */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  outline-color: currentColor;
  cursor: pointer;
  background: #000;
}

.color-select__color-circle-text {
  color: #fff;
  position: absolute;
  font-size: large;
  text-shadow: 1px 1px 0px #00000059;
}

.color-select__hex-code {
  margin: 0 15px 0;
}

.color-select__label {
  margin-left: 60px;
  cursor: pointer;
  border: solid #878787;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.color-select:hover .color-select__label{
  border-color: #0c7397;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.active {
  border-color: #0c7397;
}



/* -webkit */
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;    
}
input[type="color"]::-webkit-color-swatch {
  border: none;  
  border-radius: 50%;
}
/* firefox */
input[type=color]::-moz-focus-inner {
  border: none;
  padding: 0;
  border-radius: 50%;
}
input[type=color]::-moz-color-swatch {
  border: none;
  border-radius: 50%;
  height: 140px;
}