.swatch-square-container {
  min-width: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swatch-square-button {
  border: solid #878787;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
}

.prev-btn {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.nxt-btn {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.swatch-square-list {
  display: flex;
  min-width: 80%;
  flex-wrap: nowrap;
  overflow: hidden;
}

.swatch-square {
  min-width: 27px;
  min-height: 27px;
  margin: 5px 7px;
  cursor: pointer;
  box-shadow: 0 0 1px rgba(0, 0, 0, .6);
  border-radius: 20%;
  overflow: hidden;
  outline: none;
}