.popover {
  top: 72px;
  left: 0;
  position: absolute;
  cursor: auto;
  visibility: hidden;
}

.popover_opened {
  visibility: visible;
}

.cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 5;
}

.panel {
  z-index: 4;
  position: relative;
  width: 500px;
  height: 517px;
  box-sizing: border-box;
  border-radius: 7%;
  box-shadow: rgb(0 0 0 / 7%) 8px 1px 10px 3px, rgb(0 0 0 / 5%) 1px 8px 10px 3px, rgb(0 0 0 / 3%) 0px -3px 10px 3px;
  padding: 20px;
  background-color: #fff;
}